{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="woning-main">
        {% if post.meta('afbeelding_header') %}
            {% block hero %}
            <header class="hero">
                {% block img %}
                    <figure>
                        {% set heroImg = Image(post.meta('afbeelding_header')) %}
                        <img src="{{ heroImg.src('full') }}" alt="Impressie bouwnummer {{ post.title }}">

                        <figcaption class="hero-overlay">
                            {% block caption %}{% endblock %}
                        </figcaption>
                    </figure>
                {% endblock %}
            </header>
            {% endblock %}
        {% endif %}

        <section class="title-banner py-8">
            <h1 class="text-center">Bouwnummer {{ post.title }}</h1>
        </section>

        <div class="cool-bg">
            <div class="container mx-auto lg:flex py-16 px-4 lg:px-0">
                <section class="content woning-description lg:w-2/3 lg:mr-4">
                    {% block description %}
                        <h2>Beschrijving</h2>
                        {{ post.content }}
                    {% endblock %}
                </section>
                <aside class="woning-attributes lg:w-1/3">
                    {% block attributes %}
                        <table>
                            <tbody>
                            {% if post.meta('type') %}
                                <tr>
                                    <th scope="row">Type</th>
                                    <td>{{ post.meta('type') }}</td>
                                </tr>
                            {% endif %}
                            {% if post.meta('woonoppervlakte') %}
                                <tr>
                                    <th scope="row">Woonoppervlakte</th>
                                    <td>Ca. {{ post.meta('woonoppervlakte') }} m<sup>2</sup></td>
                                </tr>
                            {% endif %}
                            {% if post.meta('buitenruimte') %}
                                <tr>
                                    <th scope="row">Buitenruimte</th>
                                    <td>Ca. {{ post.meta('buitenruimte') }} m<sup>2</sup></td>
                                </tr>
                            {% endif %}
                            {% if post.meta('soort_buitenruimte') %}
                                <tr>
                                    <th scope="row">Soort buitenruimte</th>
                                    <td>{{ post.meta('soort_buitenruimte') }}</td>
                                </tr>
                            {% endif %}
                            {% if post.meta('kamers') %}
                                <tr>
                                    <th scope="row">Kamers</th>
                                    <td>{{ post.meta('kamers') }}</td>
                                </tr>
                            {% endif %}
                            {% if post.meta('status') %}
                                <tr>
                                    <th scope="row">Status</th>
                                    <td>{{ post.get_field('status')|capitalize|replace({'-': ' '}) }}</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    {% endblock %}
                </aside>
            </div>
        </div>
    </main>
{% endblock %}
