{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="woning-main">

        <div class="">
            <section class="title-banner py-8 container mx-auto px-4 lg:px-0">
                <h1>
                    Bouwnummer {{ post.title }} -
                    <span class="">
                        {{ post.meta('verdieping') }}
                    </span>
                </h1>
            </section>
        </div>

        {% if post.meta('afbeelding_header') %}
            {% block hero %}
            <header class="hero pb-8 px-4 lg:px-0">
                {% block img %}
                    <div class="container mx-auto lg:flex">
                        <figure class="lg:w-2/3 lg:mr-12 pb-8 lg:pb-0">
                            {% set heroImg = Image(post.meta('afbeelding_header')) %}
                            <img src="{{ heroImg.src('full') }}" alt="Impressie bouwnummer {{ post.title }}">

                            <figcaption class="hero-overlay">
                                {% block caption %}{% endblock %}
                            </figcaption>
                        </figure>
                        <aside class="woning-attributes lg:w-1/3">
                            {% block attributes %}
                                <h2>Specificaties</h2>
                                <table>
                                    <tbody>
                                    {% if post.meta('type') %}
                                        <tr>
                                            <th scope="row">Woningtype</th>
                                            <td>{{ post.meta('type') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('verdieping') %}
                                        <tr>
                                            <th scope="row">Verdieping</th>
                                            <td>{{ post.meta('verdieping') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('woonoppervlakte') %}
                                        <tr>
                                            <th scope="row">Woonoppervlakte</th>
                                            <td>ca. {{ post.meta('woonoppervlakte') }} m<sup>2</sup></td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('buitenruimte') %}
                                        <tr>
                                            <th scope="row">Buitenruimte</th>
                                            <td>ca. {{ post.meta('buitenruimte') }} m<sup>2</sup></td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('soort_buitenruimte') %}
                                        <tr>
                                            <th scope="row">Soort buitenruimte</th>
                                            <td style="text-transform: lowercase">{{ post.meta('soort_buitenruimte') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('kamers') %}
                                        <tr>
                                            <th scope="row">Slaapkamers</th>
                                            <td>{{ post.meta('kamers') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('parkeerplaats') %}
                                        <tr>
                                            <th scope="row">Parkeerplaats</th>
                                            <td>{{ post.get_field('parkeerplaats') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('prijs') and can_check_price %}
                                        <tr>
                                            <th scope="row">Prijs</th>
                                            <td style="text-transform: lowercase">&euro; {{ post.meta('prijs') }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if post.meta('status') %}
                                        <tr>
                                            <th scope="row">Status</th>
                                            <td>{{ post.get_field('status')|replace({'-de-': '-'})|replace({'-': ' '}) }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endblock %}

                            {% block floor_plan %}
                                {% if post.meta('verdiepingoverzicht') %}
                                    <h2 class="mt-12">
                                        Overzicht {{ post.meta('verdieping') }}
                                    </h2>
                                    <picture class="woning-floor_plan block">
                                        <img src="{{ Image(post.meta('verdiepingoverzicht')).src }}" alt="Verdiepingsoverzicht bouwnummer {{ post.title }}">
                                    </picture>
                                {% endif %}
                            {% endblock %}
                        </aside>
                    </div>
                {% endblock %}
            </header>
            {% endblock %}
        {% endif %}

        <div class="bg-gray">
            <section class="container mx-auto lg:flex py-8 px-4 lg:px-0">
                <div class="lg:w-2/3 woning-description content">
                    {% block main_content %}
                        <h2>Beschrijving</h2>
                        {{ post.content|wpautop }}
                    {% endblock %}
                </div>
                <div class="lg:w-1/3">
                    {% if post.meta('gevelimpressie') %}
                        <picture class="woning-exterior_impression">
                            <img src="{{ Image(post.meta('gevelimpressie')).src }}" alt="Gevel aanzicht bouwnummer {{ post.title }}">
                        </picture>

                        <div class="js-exterior-lots-360" style="opacity: 0; height: 0; pointer-events: none;">
                            {{ "[imagemap-slider ids=176,193,191,189,187,185,183,181]"|shortcodes }}
                        </div>

                        <aside class="flex" style="margin-top: 50px;">
                            <button class="mc-button js-toggle-exterior-lots-360 mx-auto" type="button">
                                <span class="js-show-other-lots">Bekijk andere woningen</span>
                                <span class="js-show-current-lot hidden">Terug naar huidige woning</span>
                            </button>
                        </aside>
                    {% else %}
                        {{ "[imagemap-slider ids=176,193,191,189,187,185,183,181]"|shortcodes }}
                    {% endif %}
                </div>
            </section>
        </div>

        {% if post.meta('plattegrond') %}
            <div class="pt-16 px-4 lg:px-0">
                <div class="container mx-auto woning-description">
                    <h2>
                        Plattegrond
                    </h2>
                    <figure>
                        <img src="{{ Image(post.meta('plattegrond')).src }}" alt="Plattegrond bouwnummer {{ post.title }}" class="" >
                    </figure>
                </div>
            </div>
        {% endif %}
        
        {% if post.meta('vr_veld_1') %}
            <div class="pt-16 px-4 lg:px-0">
                <div class="container mx-auto woning-description">
                    <h2>
                        Bekijk de woning in virtual reality
                    </h2>
                   {{ "{{ post.meta('vr_veld_1') }}"|shortcodes }}
                </div>
            </div>
        {% endif %}

        <section class="text-center cool-bg pb-24 pt-8 bg-primary" style='background-image: url("https://wonenindefonteinkerk.nl/wp-content/uploads/2020/04/bg.png"); background-size: cover; background-position: center;'>
            <div class="flex container mx-auto mb-4">
                {% if prev %}
                    <a class="lot-prev-next-button" href="{{ prev.link }}"><i class="fas fa-chevron-left mr-2" style="font-size: 1.5rem"></i> Vorige</a>
                {% endif %}

                {% if next %}
                    <a class="lot-prev-next-button ml-auto" href="{{ next.link }}">Volgende <i class="fas fa-chevron-right ml-2"  style="font-size: 1.5rem"></i></a>
                {% endif %}
            </div>
            <a href="/woningen/" class="mc-button" style="margin-top: 0; display: inline-block;">
                Terug naar woningoverzicht
            </a>
        </section>
    </main>
{% endblock %}
